#top-bar{
    width: calc(100% - 2em);
    position: absolute;
    top: 1em;
    left: 1em;
    display: flex;
    justify-content: space-between;
}
#top-bar h1{
    font-family: var(--blog-font);
    font-weight: 100;
    color: var(--0);
    margin: 0;
    margin-right: 0.5em;
    float: left;
    white-space: nowrap;
}
#commandsWrapper{
    flex-grow: 1;
    overflow: hidden;
}
#commands::after{
    content: '|';
}
#socials {
    float: right;
    display:flex;
}
@media (orientation: landscape){
    #socials{
        flex-direction: row;
    }
    #socials img{
        margin-left: 0.5em;
    }
}
@media (orientation: portrait){
    #socials{
        flex-direction: column;
    }
    #socials img{
        margin-bottom: 0.5em;
    }
}
#socials img {
    width: 3em;
    height: 3em;
}
#gradient {
    position: absolute;
    bottom: var(--total-banner-height);
    width: 100%;
    height: 10vh;
    background: linear-gradient(0deg, var(--0), transparent);
}

#about, #projects {
    border-bottom: dotted 0.25em var(--1);
}

#construction {
    position: absolute;
    left: 50vw;
    transform: translate(-50%, -50%);
    top: 50vh;
    backdrop-filter: blur(1em);
    border: 0.25em solid var(--3);
    padding: 1em;
    color: var(--3);
    text-shadow: 3px 1px var(--0);
    box-shadow: 4px 4px var(--0);
    border-radius: 2em;
    font-family: var(--code-font);
    text-align: center;
    font-size: larger;
}
#construction h1 {
    margin-top: 0em;
    font-family: var(--blog-font);
    line-height: normal;
}
#construction p {
    margin: 0.5em 0;
}
#construction:last-child {
    margin-bottom: 0;
}